<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  {% now "m d" as today %}
  {% comment %} {% mybirthday "m d" as birthday %} {% endcomment %}
  {% if today == '08 16'%}
  <p>생일입니다.</p>
  <p>{{ today }} </p>
  
  {% else %}
  <p>생일이 아닙니다.</p>
  {% comment %} <p>{{B}}</p> {% endcomment %}

  {% endif %}

</body>
</html>